
/* --------------------------- Configurações Gerais ----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
/* ------------------------- // --------------------------- // ------------------------------ */ 
body {
    height: 100%;
    background-image:linear-gradient(45deg, #FEC35F, #FC892A, #EA5947, #E34659, #DF3D62, #D52B75, #BD2C93, #8938C3, #674CCF); 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    font-family: 'Rubik', sans-serif;
    
}

svg, img {
    width: 100%;
}
    

a {
    cursor: pointer;
    text-decoration: none;
    color:#297CB9;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

button {
    color: #FFF;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    background-color: #0197FF;
    border: 1px solid currentColor;
    border-radius: 5px;
    cursor: pointer;
}
    
 



.container {
    background-color: #FFF;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.insta-logo {
    width: 300px;
}

.login-area {
    display: flex;
    justify-content: center;
    
}

.forgotten {
    margin-left: 140px;
}

.alternate-login {
    font-weight: bold;
    margin-top: 20px;
    border-top: 1px solid #000;
    padding-top:20px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.sing-in {
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #000;
}

.sing-in a {
    font-weight:bold;
}

@media screen and (max-width: 600px) {
    .container {
        margin-top: 50px;
        width: 400px;
        height: 600px;
    }
    .insta-logo {
        width: 250px;
    }

    .login-area {
        font-size: 14px;
    }
}

@media screen and (max-height: 700px) {
    .container {
        margin: 0 auto;
        width: 350px;
        height: 500px;
    }
        
    .insta-logo {
        width: 150px;
    }

    .login-area {
        font-size: 14px;
    }
        

    form {
        height: 300px;
        margin-left: 50px;
    }
        

    input {
        width: 200px;
    }

   
    button {
        margin-right: 50px;
        padding: 10px;
    }

    .forgotten {
        margin-left: 0;
    }

    .alternate-login {
        margin-top: 10px;
        margin-right: 50px;
        font-size: 14px;
    }
    
    .sing-in {
        margin-right: 50px;
        font-size: 12px;
    }
        
        
        
        
        
        
}
    
    
    

    
